@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Playfair+Display:ital,wght@1,500&family=Sora:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Sora:wght@100&display=swap');
body{
  background: #E3B6C0;
  color: black;
  padding: 0px;
  margin: 0px;
  font-family: 'Playfair Display', serif;
  text-align: center;

}
.header {
  text-align: center;

}
h1 {
font-size: 100px;
  font-family: 'Carattere', cursive;
  text-align: center;
background-color: #713594;

}
h2{
  font-size: 40px;
  background-color: #135CE0;
}
h3{
  font-size: 30px;
}
.specialUnderline{

  text-decoration: underline;
}

p {
  margin: 0px 0px 32px 0px;
}

.heroImage{
  width: 100%;
  display: block;
}
